@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  /* Corps du texte → Roboto */
  body {
    @apply font-roboto text-base text-gray-900;
  }

  /* Titres → Bebas Neue */
  h1, h2, h3, h4, h5, h6 {
    @apply font-bebas;
  }
}
